<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.insanitech.testapp">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
            >

        <activity android:name=".TestAppActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
